@use '../../index.scss' as *;

.facilities-cards {
  @include section-grid;
  @include section;

  .facilities-card {
    box-shadow: 0 0 15px 0px rgb(0 0 0 / 30%);
    border-radius: 2.5%;

    img {
      width: 100%;
      border-radius: 2.5%;
    }

    .card-content {
      padding-left: 1rem;
      padding-bottom: 0.25rem;
      
      h3 {
        margin: 1rem 0;
      }

      p {
        color: $paragraphsColor;
        font-size: 14px;
        line-height: 1.6;
        font-weight: 300;
        width: 90%;
      }
    }

  }
}