@use '../../index.scss' as *;

header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 2rem 0rem;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include section;

  .logo {
    img {
      width: 65%;
    }
  }

  nav ul {
    display: flex;
    align-items: center;
  
    li {
      margin-left: 2rem;
      font-weight: 300;
    
      a {
        position: relative;
        font-size: 0.9rem;
        text-transform: uppercase;
      
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -5px;
          transform: translateX(-50%);
          width: 0%;
          height: 2px;
          background-color: $mainColor;
          transition: $transitionDuration;
        }

        &:hover::before {
          width: 100%;
        }

        &.active::before {
          width: 100%;
        }
      }
    }
  }
}